#album{
    width: 99%;
    margin: auto;
    max-height: 80vh;
    min-height: 80vh;
    object-fit: fill;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 4px 4px 12px rgb(163, 163, 163);

   
  }

  .carousel-inner{
   max-height:80vh;
   min-height: 80vh;
  }
  .carousel-item > img { 
    max-height: 100vh;
    min-height: 100vh;
  }
