.wrapper{
    height: 30vh;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    place-items: center;
  

    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper2{
    height: auto;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    place-items: center;
    overflow: hidden;
    position: relative;
}
.heading{
    justify-content: center;
    margin: auto;
    text-shadow: 0 0 40px rgb(163, 163, 163);
    text-align: center;
}

body{
    background-color: rgb(247, 247, 249);
}

.card{
    width:30vw;

    text-align: center;
    margin: auto;
    display:flex;
    box-shadow: 3px 3px 10px rgb(163, 163, 163);
  
   
}
@media only screen and (max-width: 500px) {

        .wrapper2{
            display: grid;

        }
        .card{
            width: 80vw;
            margin-top: 20px;
        }
       
}